import(methods)
import(smoothie)
import(GenomicRanges)
import(IRanges)
import(SummarizedExperiment)

importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "axis", "lines", "plot", "points", "rect", "text")
importFrom("utils", "read.csv")


exportClasses(
    Scale4C)

exportMethods(
    calculateFingerprintMap,
    calculateScaleSpace,
    findSingularities,
    outputScaleSpaceTree,

    importBasic4CseqData,
    addPointsOfInterest,

    plotInflectionPoints,
    plotTesselation,
    plotTraceback,

    Scale4C,
    viewpoint, "viewpoint<-",
    viewpointChromosome, "viewpointChromosome<-",
    pointsOfInterest, "pointsOfInterest<-",
    rawData, "rawData<-",
    scaleSpace, "scaleSpace<-",
    singularities, "singularities<-"
)


